<!doctype html>
<html>
<head>
    <title>Better Random</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>In developing</h2>
</body>
</html>